<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <!--Paypal Configuration-->
      <add name="mode" value="sandbox" />
      <add name="clientId" value="AXtv9ftaZ353mnF15EP3o_6FJ_xsR2svlLccLXSrGZf3kwCwEQiLEFtZ30QOOVmbRChyMAjMH-kxl2_Z" />
      <add name="clientSecret" value="EJwssBoHKBl8MVbKnuJeTa0YalP67clVmXeUDgoOR35899IDOTQ7aOW_hOkhzkh4ItU4ILbNueBschZZ" />
    </settings>
  </paypal>
  <connectionStrings>
    <!--DB Configuration-->
    <add name="dbconnect" connectionString="server=localhost;user=root;password=12345678;port=3306;database=cq" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Server Configuration-->
    <add key="IP" value="26.136.122.109" />
    <add key="ServerName" value="CorexConquer" />
    <add key="Port" value="46775" />
    <add key="UID" value="ID" />
    <!-- ======================================================================= -->
    <!--Download Links-->
    <add key="DirectDownload" value="https://patch.play-corex.com/CorexConquer.exe" />
    <add key="GOOGLEDRIVE" value="https://drive.google.com/file/d/15BWRPvgnSiYRQqkyKkdMwlsfNIl7CRl_/view?usp=sharing" />
    <add key="MEDIAFIRE" value="https://www.mediafire.com/file/09acj97wqaw97qy/CorexConquer.exe/file" />
    <!-- ======================================================================= -->
    <!--Paypal Domain-IP link-->
    <add key="returnURL" value="http://localhost:46775/Store.aspx" />
    <add key="cancelURL" value="http://localhost:46775/Store.aspx" />
    <!-- ======================================================================= -->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 3A0DDE17-1C0C-4F1E-B2E9-1BFA86BAA4F2-->